.input-list {
    margin-top: 0.5em;
    margin-left: 1em;
    display: flex;

    input {
        width: 13em;
        height: 2em;
        border-radius: 5px;
        padding: 0.3em;
        align-items: center;
        background-color: rgb(212, 212, 212);
    }

    button {
        margin-left: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}